<!-- https://www.w3schools.com/tags/tag_select.asp -->

<!doctype html>
<html>
  <body>
    <h1>The select element</h1>

    <p>The select element is used to create a drop-down list.</p>

    <form method="post" action="/query_result">
      <label for="years">Izvēlies gadu:</label>
      <select name="years" id="years">
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
      </select>
      <br /><br />

      <label for="months">Izvēlies mēnesi:</label>
      <select name="months" id="months">
        <option value="January">Janvāris</option>
        <option value="February">Februāris</option>
        <option value="March">Marts</option>
        <option value="April">Aprīlis</option>
        <option value="May">Maijs</option>
        <option value="June">Jūnijs</option>
        <option value="July">Jūlijs</option>
        <option value="August">Augusts</option>
        <option value="September">Septembris</option>
        <option value="October">Oktobris</option>
        <option value="November">Novembris</option>
        <option value="December">Dacembris</option>
      </select>
      <br /><br />

      <label for="days">Izvēlies nedēļas dienu:</label>
      <select name="days" id="days">
        <option value="Monday">Pirmdiena</option>
        <option value="Tuesday">Otrdiena</option>
        <option value="Wednesday">Trešdiena</option>
        <option value="Thursday">Ceturtdiena</option>
        <option value="Friday">Piektdiena</option>
        <option value="Saturtday">Sestdiena</option>
        <option value="Sunday">Svētdiena</option>
      </select>
      <br /><br />

      <label for="dates">Izvēlies datumu:</label>
      <select name="dates" id="dates">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      <br /><br />

      <label for="hours">Izvēlies datumu:</label>
      <select name="hours" id="hours">
        <option value="00:00">00:00</option>
        <option value="01:00">01:00</option>
        <option value="02:00">02:00</option>
        <option value="03:00">03:00</option>
        <option value="04:00">04:00</option>
        <option value="05:00">05:00</option>
        <option value="06:00">06:00</option>
        <option value="07:00">07:00</option>
        <option value="08:00">08:00</option>
        <option value="09:00">09:00</option>
        <option value="10:00">10:00</option>
        <option value="11:00">11:00</option>
        <option value="12:00">12:00</option>
        <option value="13:00">13:00</option>
        <option value="14:00">14:00</option>
        <option value="15:00">15:00</option>
        <option value="16:00">16:00</option>
        <option value="17:00">17:00</option>
        <option value="18:00">18:00</option>
        <option value="19:00">19:00</option>
        <option value="20:00">20:00</option>
        <option value="21:00">21:00</option>
        <option value="22:00">22:00</option>
        <option value="23:00">23:00</option>
      </select>
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
